<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mistakes Frontend Journey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/javascript/scripts.js"></script>
</head>

<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">My Frontend mistakes</h1>
                </div>


                <div class="specific-blog-article">

                    <p>My first mistake was that I don’t learn my programming editor properly I didn’t use shortcuts
                        that
                        will make my workflow much faster.</p>
                    <p>I didn’t understand web tools properly. When you understand web tools properly you can fix your
                        CSS and javascript much faster on a lot of occasions.</p>
                    <p>Understand the difference between browsers before you implement the not so common feature in your
                        code.</p>
                    <p>Find the plugins that fit your workflow and increase your development productivity
                        dramatically.</p>
                    <p>Learn CSS properly and understand every basic property and its combination to avoid mistakes.</p>
                    <p>Take care of your health don’t waste time when you can’t solve the problem for longer than 4
                        hours. Take a short break.</p>
                    <p>Let others help you don’t waste time on everything that you can’t figure out.</p>

                </div>
            </section>

            <div class="another-blog-wraper">
                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">Why I love Frontend</h1>
                        <p>In this article I will explain to You Why I enjoy frontend far more than other areas of
                            programming.</p>

                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/web_development/blog_1" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Github Copilot Guide</h1>
                        <p>In this article I will explain to you how to use Github copilot more effectively.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/web_development/blog_2">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>