<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Copilot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/javascript/scripts.js"></script>
</head>

<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">How to use Github Copilot </h1>
                </div>


                <div class="specific-blog-article">

                    <h3>What is a Github copilot?</h3>

                    <p> Github copilot is an auto-completion tool that can help you code your website faster and it is
                        probably the best autocompletion plugin out there.</p>

                    <h3>Tips for Frontend developers using Github Copilot.</h3>

                    <p>When you can’t find the property just add a comment to the CSS file and comment what is the
                        property about and the copilot will probably find it.</p>
                    <p>When you are writing the simple JavaScript write it inside the HTML file because the copilot will
                        automatically recognize the class names and will help you dramatically with coding the preview
                        stage
                        of the website development.</p>
                    <p> When you are coding something simple the copilot will know exactly what you want to do so you
                        will
                        see the suggestions almost with 100% accuracy.</p>
                    <p>Use algorithmic thinking to divide the problem into smaller pieces and let the copilot inspire
                        you
                        for your work. In the most parts, copilot will show the thing that is not useful for your code
                        so
                        you divide the function or class that you are working on into small pieces that create together
                        functional program. But you must know and write down the right steps to create that.</p>

                </div>
            </section>

            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Why I love Frontend</h1>
                        <p>In this article I will explain to You Why I enjoy frontend far more than other areas of
                            programming.</p>

                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/web_development/blog_1" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Mistakes that I made</h1>
                        <p>In this article I will describe to you few mistakes that I made during my learning
                            journey.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/web_development/blog_3">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>