<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Learning Blog</title>
    <script src="/static/javascript/scripts.js"></script>
</head>
<body>
<div class="navbar">
    <ul class="navbar-elements">
        <li><a href="default.asp">Youtube</a></li>
        <li><a href="news.asp">Categories</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">Portfolio</a></li>
    </ul>
</div>

<div class="main-blog-container">
    <div class="enter-heading">
        <h1 class="underline">Learning</h1>
    </div>

    <div class="blog-wraper">
        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How I learn anything fast </h1>
                <p>In this article I will show you some of my tips and principes how I am learning anything fast</p>
            </div>

            <a class="read-me__categories" href="/learning/blog_1">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">29.4.2022</p>
        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How to stay focused</h1>
                <p>In this article I will show you some of my tips how to stay focused for longer period of time.</p>
            </div>

            <a class="read-me__categories" href="/learning/blog_2">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">24.1.2022</p>

        </div>

        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How to be more disciplined during tedious tasks</h1>
                <p>In this article I will show you how to solve tedious tasks</p>
            </div>

            <a class="read-me__categories" href="/learning/blog_3">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">18.1.2022</p>

        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>Why I love project-based learning</h1>
                <p>In this article I will explain why project based learning is better than following tutorials.</p>
            </div>

            <a class="read-me__categories" href="/learning/blog_4">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">14.2.2022</p>

        </div>

        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How I solve coding problems</h1>
                <p>In this article I will provide you with my algorithm how I solve coding problems.</p>
            </div>

            <a class="read-me__categories" href="/learning/blog_5">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">19.3.2022</p>
        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How I learned to code</h1>
                <p>In this article I will tell you why I started coding and why it was my best decision yet.</p>
            </div>
            <a class="read-me__categories" href="/learning/blog_5">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">24.5.2022</p>
        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How I learned Frontend Development</h1>
                <p>In this article I will tell you how I fell in love with Frontend Development.</p>
            </div>

            <a class="read-me__categories" href="/learning/blog_5">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">29.6.2022</p>

        </div>

        <div class="background-images">
            <div class="square-1-left"></div>
            <div class="square-2-right"></div>
            <div class="square-3-right"></div>
            <div class="square-4-right"></div>
            <div class="square-5-left"></div>
        </div>
    </div>
</div>

<script>
    //create function that will hide my navbar elements when width is less than 800px
    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 800) {
                $('.navbar-elements').hide();
            } else {
                $('.navbar-elements').show();
            }
        });
    });

</script>

</body>
</html>