<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">

    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

<div class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="http://www.adamkurek.com/#contact">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</div>


<main class="main">


    <div class="heading-learning-path">
        <h1 class="underline">Learning path</h1>
    </div>
    <div class="wrapper">


        <div class="center-line">
            <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title wave-pink heading-timeline-buble">Phase VII</span>
                    <span class="time-spend">Current</span>
                </div>
                <p>In this period I've got into the state competition in web development. I've lost and get myself upset
                    and started working even harder. I've also got accepted to the University that I want to study in.
                    I've also started working with React and Redux and fall in love with them and started building some
                    more complex frontend projects. </p>
                <div class="bottom">
                    <i class="wave-red">React.JS</i> <i class="wave-red">Deployment</i> <i class="wave-red">Redux</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title wave-blue heading-timeline-buble">Phase VI</span>
                    <span class="time-spend">2-3 Month</span>
                </div>
                <p>I find out that I enjoy frontend more than backend so I started learning some more advanced frontend
                    technologies
                    like SCSS, JavaScript, Responsive Web Design, and some more advanced css topics. I've started
                    building my Portfolio projects and started coding more seriously.</p>
                <div class="bottom">
                    <i class="wave-red">JavaScript</i> <i class="wave-red">SCSS</i> <i class="wave-red">Responsive Web
                    Design</i>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title wave-pink heading-timeline-buble">Phase V</span>
                    <span class="time-spend">4 Months</span>
                </div>
                <p>In this time I've got into my first intern and started working with more people. I've learned
                    some HTML and CSS.
                    I've mostly work on Frontend but I also created some easy backend scripts. I also learned how to
                    work with dynamic data.
                </p>
                <div class="bottom">
                    <i class="wave-red">CSS</i> <i class="wave-red">HTML</i> <i class="wave-red">Flask & PostgreSQL</i>
                    <i class="wave-red">GIT</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title wave-blue heading-timeline-buble">Phase IV</span>
                    <span class="time-spend">2-3 Months</span>
                </div>
                <p>After a period of testing, I decided to start creating web applications using the python framework
                    flask. In this period I've also learn to work with databases and I also understand some basics of
                    computer networking.</p>
                <div class="bottom">
                    <i class="wave-red">Flask</i> <i class="wave-red">Networking</i> <i class="wave-red">Databases</i>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title wave-pink heading-timeline-buble">Phase III</span>
                    <span class="time-spend">2-3 Months</span>
                </div>
                <p>
                    After I found out how difficult it is to create applications and after the unsuccessful publication
                    of my own application, I started working with python and other programming languages to experience
                    what i enjoy the most.</p>
                <div class="bottom">
                    <i class="wave-red">Python</i> <i class="wave-red">C++</i> <i class="wave-red">JavaScript</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title wave-blue heading-timeline-buble">Phase II</span>
                    <span class="time-spend">2 Months</span>
                </div>
                <p>After 2 months of intensive learning, I started working with an android studio and started creating
                    simple applications. I have also learned how to work with IDE. </p>
                <div class="bottom">
                    <i class="wave-red">Kotlin</i> <i class="wave-red">Android Studio</i> <i class="wave-red">IDE</i>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title wave-pink heading-timeline-buble">Phase I</span>
                    <span class="time-spend">1-2 Months</span>
                </div>
                <p>I started programming for the first time in Java I learned basic programming principles
                    and object oriented programming.</p>
                <div class="bottom">
                    <i class="wave-red">Java</i> <i class="wave-red">OOP</i> <i class="wave-red">Programming Basics</i>
                </div>
            </section>
        </div>

    </div>


    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
        <div class="square-5-left"></div>
    </div>

</main>


</body>
</html>