<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Productivity articles</title>
    <script src="/static/javascript/scripts.js"></script>
</head>
<body>
<div class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</div>

<div class="main-blog-container">
    <div class="enter-heading">
        <h1 class="underline">Productivity</h1>
    </div>

    <div class="blog-wraper">
        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>Productivity daily routine</h1>
                <p> In this article I will show you how why and how I structure my daily routine for my normal day. </p>

            </div>

            <a class="read-me__categories" href="/productivity/blog_1">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">27.3.2022</p>

        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How I structure my day</h1>
                <p>In this article I will explain and show you how I structure my day and how I use it to improve my
                    productivity.</p>
            </div>

            <a class="read-me__categories" href="/productivity/blog_2">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">30.4.2022</p>
        </div>

        <div class="specific-blog">

            <div class="specific-blog-intro-heading">
                <h1>How I manage my life</h1>
                <p>In this article I will explain how I organise my life with notion and TickTick.</p>
            </div>

            <a class="read-me__categories" href="/productivity/blog_3">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">18.2.2022</p>
        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>How I enter flow state</h1>
                <p>In this article you will learn some useful tips how to enter the flow state so how you can do more
                    work in shorter period.
                </p>
            </div>

            <a class="read-me__categories" href="/productivity/blog_4">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">31.5.2022</p>

        </div>


        <div class="background-images">
            <div class="square-1-left"></div>
            <div class="square-2-right"></div>
            <div class="square-3-right"></div>
            <div class="square-4-right"></div>
            <div class="square-5-left"></div>
        </div>
    </div>

</div>

<script>
    //create function that will hide my navbar elements when width is less than 800px
    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 800) {
                $('.navbar-elements').hide();
            } else {
                $('.navbar-elements').show();
            }
        });
    });
</script>

</body>
</html>