<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to complete tedious tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Project based learning</h1>
                </div>

                <div class="specific-blog-article">

                    <p>When I started coding I wasn't really happy with the progress that I’ve made I did some simple
                        problems but I don’t enjoy it at all so I started doing more project-based learning and I would
                        like
                        to show you how I learn from it.</p>

                    <h2>Steps :</h2>

                    <p> - Choose a project that I want to build</p>
                    <p> - Create a list of things that I need to learn before starting the project</p>
                    <p> - Understand the basics of the technologies that I will use</p>
                    <p> - Start building the project</p>

                    <h2>Important step :</h2>

                    <p>When I am working on some feature and I have no idea how to do it I spend a lot of time learning
                        about that topic when I know that I will use this knowledge in the future.</p>

                    <p> I call this technique <strong>dopamine loop</strong> when I can’t solve the problem I rather spend
                        time
                        learning something useful and get the motivation back and work on that feature again and when I
                        fail
                        again I do this cycle again, and I will stop doing this until I solve the problem and do the
                        feature.</p>
                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">How to learn fast </h1>
                        <p>In this article I will explain how to stay focused during working studying etc.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_1">READ MORE</a>
                    </div>
                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How to stay focused</h1>
                        <p>
                            In this article I will explain to you how to destroy tedious tasks and complete them
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_2">READ MORE</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>

</main>
</body>
</html>