<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to stay focused</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">How to stay focused</h1>
                </div>

                <div class="specific-blog-article">

                    <h3>Focus is one of the most important things when you are studying working or doing anything at
                        all</h3>

                    <p>- Firstly you should not be tired when you are tired the ability to focus drop down
                        drastically.</p>
                    <p>- Drink a lot of water when you drink a lot of water you will not be that tired and you will
                        avoid brain fog.</p>
                    <p>- Set a specific time for every task that you want to do if you set a deadline you will try to
                        do that in that period that you have set.</p>
                    <p>- Change environments don’t stay in one place move and change positions if possible.
                    <p> - Do some type of exercise when you have a break. </p>
                    <p> - Clean your mind and do some mindfulness exercises like deep breathing or stretching.</p>
                    <p> - Read a book called Deep Work, or Flow.</p>
                    <p> - Understand the 80/20 rule 80 percent of results come from 20 % of work. do the important
                        things only.</p>
                </div>

            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How to stay focused </h1>
                        <p>In this article I will explain how I stay focused during the time I learn</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_2">READ MORE</a>
                    </div>
                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How to do tedious tasks </h1>

                        <p>
                            In this article I will explain to you how to destroy tedious tasks and complete them
                        </p>

                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_2">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>

</main>
</body>
</html>