<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Fast Learning</h1>
                </div>

                <div class="specific-blog-article">
                    <p>In this article, I will describe the steps that help me learn things faster.</p>

                    <p>1. <strong>Gather resources and information about the topic and do the proper research.</strong></p>


                        <p>When I started my coding journey I had no idea where should I start so I started researching
                        for
                        the best curriculum that can teach me Java. When I look back at that point I think that I don’t
                        spend enough time researching and checking forums If I do that I will not have that many
                        learning
                        gaps.<br>
                            so do the proper research</p>
                    <p>2. <strong>Create a structured learning plan for the specific topic</strong></p>
                    <p>if you find the best resources for that specific topic that you want to learn, you should create
                        a
                        structure where you will put every topic you need to learn before moving to another one. The
                        best
                        application for making this type of structure is Notion where you can track the things that you
                        learned.</p>

                    <p>3. <strong>Learn a little bit of theory and instantly apply</strong></p>
                    <p> To be more efficient in learning you should not read or watch the thing that you want to learn
                        you
                        should practice instead if you know enough theory so If you learn something automatically apply
                        it.</p>
                    <p>4.<strong> Build projects and document your journey</strong></p>
                    <p> If you want to learn for example coding you should document and take notes from what you
                        learned.
                        This can be applied to any type of industry when you document or put things in one place you
                        will be
                        much more satisfied with the work that you’ve done.</p>
                    <p>5.<strong> Learn a little bit of theory and instantly apply.</strong></p>
                    <p> To be more efficient in learning you should not read or watch the thing that you want to learn
                        you should practice instead if you know enough theory so If you learn something automatically
                        apply it.</p>
                    <p>6.<strong>Build projects and document your journey</strong></p>
                    <p>
                        If you want to learn for example coding you should document and take notes from what you
                        learned. This can be applied to any type of industry when you document or put things in one
                        place you will be much more satisfied with the work that you’ve done.
                    </p>

                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">How to stay focused</h1>
                        <p>In this article I will explain how I stay focused during the time I learn</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_2">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How to tedious tasks</h1>
                        <p>
                            In this article I will explain to you how to destroy tedious tasks and complete them
                        </p>

                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_2">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>

</main>
</body>
</html>