<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My frontend journey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/javascript/scripts.js"></script>
</head>

<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">How I learned Frontend</h1>
                </div>

                <div class="specific-blog-article">
                    <p>
                        When I started learning frontend I can say that I was educated and have a solid understatement
                        of how my brain works and how I can learn anything fast. (It was in about 8 months of my coding
                        journey)
                    </p>

                    <p>
                    <p>1. <strong>HTML, CSS</strong></p>
                    <p> in my first one or two months in learning frontend, I was just doing HTML, CSS and Python
                        flask. I’ve got a solid understatement of how to work with dynamic data in Flask. The library
                        for that was called Jinja2 it is a little bit similar to React in some ways.</p>
                    <p>I’ve built a few simple and one of them was the Networking App where I implemented my
                        knowledge of SCSS Python and HTML</p>
                    <p>2. <strong>SCSS, Javascript Basics.</strong></p>
                    <p>After I’ve got a solid understatement of CSS and HTML I started learning Javascript.</p>
                    <p>In this part of my learning journey, I’ve built my portfolio website.</p>
                    <p>I’ve learned how to work with media queries and responsive design I also get a solid
                        understanding of modern CSS features</p>
                    <p>3. <strong>Advanced CSS, Javascript</strong></p>
                    <p>After I’ve built my portfolio, I find out that I don’t understand CSS properly so I started
                        learning how to implement different combinations of CSS properties like positions size units,
                        etc...</p>
                    <p>- Besides that, I’ve built this blog website.</p>
                    <p>4. <strong>React.js, ES6</strong></p>
                    <p>- When I started feeling confident in javascript and my CSS skills. I decided to learn my first
                        javascript library I choose react for the ecosystem that is built around it.</p>
                    <p>- I’ve started taking classes on Scrimba</p>
                </div>

            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">How to learn fast </h1>
                        <p>In this article I will explain how to learn anything fast.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_1">READ MORE</a>
                    </div>
                </div>

                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">Project based learning</h1>
                        <p>
                            In this article You will find some useful tips for project based learning.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_4">READ MORE</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>

</main>
</body>
</html>