<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming Roadmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">How I learned to code</h1>
                </div>

                <div class="specific-blog-article">

                    <p>
                        I‘ve build a roadmap that you can see right here.
                    </p>

                    <a href="/roadmap">Roadmap</a>

                    <p>In march 3 2021 I decided that I want to learn to code because I wanted to create a Minecraft
                        plugins for the server that we were playing during quarantine.</p>

                    <p>So I learned Java and how to code Minecraft plugins. (I had no idea what I was doing back then) I
                        just followed tutorials and tried to change something and make it work I had no idea what I was
                        doing.</p>

                    <p>After about one week I decided that I will give it a try. So I started learning java from the
                        beginning.</p>

                    <p>I learned some basic programming concepts like loops statements variables etc ..</p>

                    <p>After about a month I decided that I will start building the app idea that I wanted to build but
                        I
                        find out that I am not capable of building something like that. (I try to develop my
                        billion-dollar
                        app idea)</p>

                    <p>After I failed in my journey of becoming a rich app developer I tried web development for the
                        first
                        time in about 6 months of coding.</p>

                    <p>I’ve learned how the web is structured and I was fascinated by the technologies that are included
                        in
                        the web. So I checked a few websites about the technologies and I choose to use Flask as my
                        first
                        web framework it is one of the easiest and also it uses Python and I wanted to learn Python.</p>

                    <p>I was learning only backend development I don’t understand HTML and CSS and Javascript and I’ve
                        got
                        a big learning hole I was able to do CRUD with database and I didn’t understand how does the
                        frontend work. How the HTML page is structured I only know how to display data in Jinja.</p>

                    <p>After I got tired of being so stupid in frontend I discovered that I pretty much enjoy it. So I
                        build a website in HTML and CSS and with Flask on the Backend. I was now able to build a pretty
                        good
                        looking website but I had no idea how does the javascript works. When I was doing something in
                        javascript I just copy and paste it in most cases but after some time I wanted to create
                        something
                        more custom and I tried to learn it.</p>

                    <p>When I started learning javascript I wasn’t really good in it I understand just a basics and
                        after
                        some time I decided that I will build few beginner projects. These were calculator, Pomodoro
                        timer,
                        Form validation, Random advice generator.</p>

                    <p>After I started getting decent understanding of javascript I decided that I will move to the
                        React.js library I am also not that good in design so I started taking screencast tutorials on
                        scrimba.</p>

                    <p>Besides of my technological learning journey I was building core related projects for the
                        technologies that I was learning. I’ve build a website where you can learn computer networking,
                        and
                        other projects that you can see in my portfolio.</p>

                </div>

            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">How to learn fast </h1>
                        <p>In this article I will explain how to learn anything fast.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_1">READ MORE</a>
                    </div>
                </div>

                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">Project based learning</h1>
                        <p>
                            In this article You will find some useful tips for project based learning.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_4">READ MORE</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>

</main>
</body>
</html>