<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Hobbies</title>
    <script src="/static/javascript/scripts.js"></script>
</head>
<body>
<div class="navbar">
    <ul class="navbar-elements">
        <li><a href="default.asp">Youtube</a></li>
        <li><a href="news.asp">Categories</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">Portfolio</a></li>
    </ul>
</div>

<div class="main-blog-container">
    <div class="enter-heading">
        <h1 class="underline">My Hobbies</h1>
    </div>

    <div class="blog-wraper">
        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>Brain Health</h1>
                <p>In this article I will explain how to care
                    about your health and how you should
                    tread yourself as a
                    software developer.
                </p>
            </div>

            <a class="read-me__categories" href="/hobby/blog_1">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">25.2.2021</p>

        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>Brain Health</h1>
                <p>In this article I will explain how to care
                    about your health and how you should
                    tread yourself as a
                    software developer.
                </p>
            </div>

            <a class="read-me__categories" href="/hobby/blog_2">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">25.2.2021</p>

        </div>

        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>Brain Health</h1>
                <p>In this article I will explain how to care
                    about your health and how you should
                    tread yourself as a
                    software developer.
                </p>
            </div>

            <a class="read-me__categories" href="/hobby/blog_3">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">25.2.2021</p>

        </div>


        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>Brain Health</h1>
                <p>In this article I will explain how to care
                    about your health and how you should
                    tread yourself as a
                    software developer.
                </p>
            </div>

            <a class="read-me__categories" href="/hobby/blog_4">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">25.2.2021</p>

        </div>

        <div class="specific-blog">
            <div class="specific-blog-intro-heading">
                <h1>Brain Health</h1>
                <p>In this article I will explain how to care
                    about your health and how you should
                    tread yourself as a
                    software developer.
                </p>
            </div>

            <a class="read-me__categories" href="/hobby/blog_5">READ ME</a>
            <p class="name">Adam Kurek</p>
            <p class="date">25.2.2021</p>

        </div>

        <div class="background-images">
            <div class="square-1-left"></div>
            <div class="square-2-right"></div>
            <div class="square-3-right"></div>
            <div class="square-4-right"></div>
            <div class="square-5-left"></div>
        </div>

    </div>
</div>

<script>
    //create function that will hide my navbar elements when width is less than 800px
    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() < 800) {
                $('.navbar-elements').hide();
            } else {
                $('.navbar-elements').show();
            }
        });
    });

</script>

</body>
</html>