<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Focus Improvement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/javascript/scripts.js"></script>
</head>

<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">
                <div class="specific-blog-header">
                    <h1 class="underline">Why I improve my focus</h1>
                </div>

                <div class="specific-blog-article">

                    <p>One of my hobbies is the satisfaction of being able to focus for a long period of time and get
                        as much work as possible done in a short period of time.</p>

                    <p>One of the most influential things that I do to Improve my focus are : Meditation, Joggling,
                        Reading, Working out.</p>

                    <p>Firstly I would like to start why I like to meditate. Meditation give me the power of being
                        present and be able to focus only on my breath and nothing else for as long as I am capable of
                        doing it ( no longer than 3 minutes now) also the meditation is good for my mental health, and I
                        can be more present in social situations.</p>

                    <p>The second thing is Joggling is very similar to coding you need to maximize your focus for
                        long as possible, so it gives you the ability to focus only on one thing at a time and nothing
                        else.</p>

                    <p>Reading become really influential in my life when I discover the books Deep Work or Atomic
                        Habits these books changed my life forever because I broke almost every bad habit that I have
                        and changed it into the new ones that improved my life so much for example meditation or
                        journaling.</p>

                    <p>Working out is my go-to when I am tired or my mind becomes a little bit cloudy or I get brain
                        fog. When I am in the gym I am trying to focus on that one muscle that I am training. When I am
                        trying to do something like this I try to feel every muscle fiber in that specific muscle
                        group.</p>

                </div>
            </section>

            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">My workout rotine</h1>
                        <p>In this article you will learn how to eat healthy and accelerate your brain.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/hobby/blog_2" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How I learn anything fast</h1>
                        <p>In this article I will show you my methods how I learn anything fast.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_1">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>