<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My workout routine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">
                <div class="specific-blog-header">
                    <h1 class="underline">My workout routine</h1>
                </div>

                <div class="specific-blog-article">

                    <p>I have already tried many types of training routines in my fitness journey and therefore I would
                        like to summarize which is best for me and in which I have made the most progress.</p>

                    <h2>Full body workout routine</h2>

                    <p>I train 3-5 times a week the full body which on every training I focus on the different muscle
                    groups for example :</p>

                    <p>Monday: Full Body (leg-focus)</p>

                    <p>Tuesday: Full Body (Chest-focus)</p>

                    <p>Wednesday: Full Body (Back focus)</p>

                    <p>Thursday: Rest</p>

                    <p>Friday : Rest + Kardio</p>

                    <p>Saturday: Full Body</p>

                    <p>Sunday : Full Body( leg-focus)</p>

                   <h2>Full Body (leg-focus)</h2>

                    <p>- In this training, I mainly focus on squats to improve my strength.</p>

                    <p>4x6 Squats</p>

                    <p>3x7 Pull-Ups + 3x10 Dumbell press 90s rest</p>

                    <p>3x5 Bulgarian squats + 3x12 Dumbell flies 90s rest</p>

                    <p>3x7 Hamstring extension + 3x6 Chin Up 90s rest</p>

                    <p>3x6 Hip thrust + 3x8 barbell rows 90s rest</p>




                    <h2>Full Body (Chest-focus)</h2>

                    <p>- This routine is focused on improving chest size.</p>

                    <p>(3x7) Pull-ups</p>

                    <p>(4x8) Dumbell press + (4x15) Calf raises</p>

                    <p>(3x10) Lunges + (3x12) Dips</p>

                    <p>(3x8) Dumbell flies + (3x5) Chin-ups</p>

                    <p>(3x7) Overhead Press + (3x12) Biceps curls</p>

                    <p>(3x7) Hip thrust + (to failure) Leg raises</p>


                    <h2>Full Body (Back-focus)</h2>

                    <p>- back is probably the most developed muscle on my body so my training for it is a little bit
                        harder.</p>

                    <p>(3x7) Pull-ups + (3x12) Dumbell press 90s</p>

                    <p>(4x6) Chin-ups + (4x15) Calf raises 90s</p>

                    <p>(4x12) Bicep curls + (3x12) dumbell press 90s</p>

                    <p>(3x6) Sumo deadlift 90s</p>

                </div>
            </section>

            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Focus improvement</h1>
                        <p>In this article I will explain to you why and how I enjoy improving focus.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/hobby/blog_1" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How I learn anything fast</h1>
                        <p>In this article I will show you my methods how I learn anything fast.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/learning/blog_1">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>