<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurek's Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <!-- create script that links to jquery -->
    <script src="/static/javascript/scripts.js"></script>
</head>
<body>


<div class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog" >Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</div>


<div class="main">
    <div class="intro-wraper">
        <div class="text-wraper">
            <div class="text-align-left">
                <h2>Hello, My name is Adam</h2>
                <h1 class="underline">Welcome to my Blog!</h1>
            </div>
        </div>

        <div class="my-picture-wrapper">
            <img src="/static/images/icons%20/profile_picture.png">
        </div>

    </div>


    <div class="grid-section">
        <div class="text-wrapper-grid">
            <h2 class="left">Explore by</h2>
            <h2 class="underline">Category: </h2>
        </div>
        <div class="categories-grid">
            <div class="card">
                <div class="category">
                    <img class="img-icon" src="/static/images/icons%20/dumbell.png">
                    <div class="align-center">
                        <h1>Health & Fitness</h1>
                        <p>This will be short description how it should look like...</p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category">
                    <img class="img-icon-productivity" src="/static/images/icons%20/productivity.png">
                    <div class="align-center">
                        <h1>Productivity</h1>
                        <p>This will be short description on how to stay productive</p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category">
                    <img class="img-icon-webdevelopment" src="/static/images/icons%20/development.png">
                    <div class="align-center">
                        <h1>Web development</h1>
                        <p>This will be short description how it should look like...</p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category">
                    <img class="img-icon-hobby" src="/static/images/icons%20/hobby.png">
                    <div class="align-center">
                        <h1>Hobbies</h1>
                        <p>This will be short description how it should look like...</p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category">
                    <img class="img-icon-finances" src="/static/images/icons%20/finances.png">
                    <div class="align-center">
                        <h1>Finances</h1>
                        <p>This will be short description how it should look like...</p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category">
                    <img class="img-icon-learning" src="/static/images/icons%20/learning.png">
                    <div class="align-center">
                        <h1>Learning</h1>
                        <p>This will be short description how it should look like...</p>
                    </div>
                    <div class="align-right">
                        <a href="/"><img class="image" src="/static/images/img.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
        <div class="square-5-left"></div>
        <div class="square-6-right"></div>
        <div class="square-7-left"></div>
    </div>
</div>


</body>


</html>