<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurek's Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/static/javascript/scripts.js"></script>
    <script src="/static/javascript/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>


<div class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="http://www.adamkurek.com/#contact">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</div>


<div class="main">
    <div class="intro-wraper">
        <div class="text-wraper">
            <div class="text-align-left">
                <h2>Hello, My name is Adam</h2>
                <h1 class="underline">Welcome to my Blog!</h1>
            </div>
        </div>

        <div class="my-picture-wrapper">
            <img src="/static/images/icons%20/profile_picture.png">
        </div>

    </div>


    <div class="grid-section">
        <div class="text-wrapper-grid">
            <h2 class="left">Explore by</h2>
            <h2 class="underline">Category: </h2>
        </div>
        <div class="categories-grid">

            <div class="card">
                <div class="category" id="category-fitness">
                    <img class="img-icon" src="/static/images/icons%20/dumbell.png">
                    <div class="align-center">
                        <h1>Health & Fitness</h1>
                        <p>Useful tips for staying healthy as a programmer.</p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="category" id="category-productivity">
                    <img class="img-icon-productivity" src="/static/images/icons%20/productivity.png">
                    <div class="align-center">
                        <h1>Productivity</h1>
                        <p>My habits for maximum productivity</p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category" id="category-webdevelopment">
                    <img class="img-icon-webdevelopment" src="/static/images/icons%20/development.png">
                    <div class="align-center">
                        <h1>Web development</h1>
                        <p>Some of my tips for web developers. </p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category" id="category-hobbies">
                    <img class="img-icon-hobby" src="/static/images/icons%20/hobby.png">
                    <div class="align-center">
                        <h1>Hobbies</h1>
                        <p>This is how I spend my free time. </p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category" id="category-finances">
                    <img class="img-icon-finances" src="/static/images/icons%20/finances.png">
                    <div class="align-center">
                        <h1>Finances</h1>
                        <p>How I manage my money. </p>
                    </div>
                    <div class="align-right">
                        <img class="image" src="/static/images/img.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="category" id="category-learning">
                    <img class="img-icon-learning" src="/static/images/icons%20/learning.png">
                    <div class="align-center">
                        <h1>Learning</h1>
                        <p>Right here you can learn how I learn. </p>
                    </div>
                    <div class="align-right">
                        <a href="/"><img class="image" src="/static/images/img.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="roadmap-section">
        <div class="roadmap-header">
            <h1 class="underline bigger">Roadmap</h1>
        </div>
        <a href="/roadmap">
            <div class="roadmap-card">
                <h3>How I learned to code</h3>
            </div>
        </a>
    </section>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
        <div class="square-5-left"></div>
        <div class="square-6-right"></div>
        <div class="square-7-left"></div>
    </div>
</div>


</body>

<script>
    //create a function that will redirect when div class card is clicked to the contact_me route
    // $(".card").click(function () {
    //   window.location.href = "/contact_me";
    // });

    // create a function that will redirect when id with category-fitness is clicked to the contact_me route

    $("#category-fitness").click(function () {
        window.location.href = "/fitness";
    });

    $("#category-productivity").click(function () {
        window.location.href = "/productivity";
    });

    $("#category-webdevelopment").click(function () {
        window.location.href = "/web_development";
    });

    $("#category-hobbies").click(function () {
        window.location.href = "/hobby";
    });

    $("#category-finances").click(function () {
        window.location.href = "/finances";
    });

    $("#category-learning").click(function () {
        window.location.href = "/learning";
    });

    //create slow scroll animation to the section with class grid-section


</script>


</html>