<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brain Health</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Brain Health</h1>
                </div>

                <div class="specific-blog-article">
                    <h2>Why we must take care of our brain?</h2>
                    <p>After I started learning how to code I started feeling a little cloudy in my head I was
                        furious about that because I had no idea what it can cause because I was not coding that
                        much at that time. After some time I discovered that my brain was tired, so I learned some
                        techniques how to avoid it and how to stay laser-focused as long as possible.</p>

                    <div class="bullet-point-list">

                        <h2>1. Eat healthy food </h2>
                        <p>
                            Best food for your brain are blueberries, oats, fish, red meat, a leafy green vegetable like
                            spinach, cabbage, etc.. , and nuts more specifically walnuts.
                            <br>
                            After I started implementing this food into my diet after 2-3 days I started seeing some
                            results I got less tired I started sleeping better and also my focus improved and I’ve
                            started coding more.
                        </p>
                    </div>


                    <h2>2. Better sleep</h2>
                    <p> Don’t eat 1-2 hours before bed. <br>
                        Drink some tea that will help you fall asleep before you go to bed <br>
                        Don’t be on phone (read or listen to film/podcast or music do something where you don't need
                        to consume blue light.)<br>
                        Sleep for 7-8 hours (If you can sleep like this every single night you don’t need to rest on
                        weekends you can do something productive instead) <br>
                        Do breathing exercises (If you can force yourself to do 20 deep breaths your heart rate will
                        slow down and you will get tired in an instant) <br>
                        Fresh air</p>

                    <h2>3. Do some exercise</h2>
                    <p>
                        The best way for me to get rid of brain fog is to take a <span>little walk</span>, do <span>1-2 minutes</span>
                        of cardio, or do some type of exercise like <span>cycling</span>, exercising, etc..
                    </p>
                    <h2>4. Drink water </h2>
                    <p>Drink every hour at least 2dl of water get yourself a bottle where you will divide a bottle into
                        lines every line will represent the amount of water that you want to drink during the time
                        period. Water will also prevent your eyes from getting dry. </p>
                    <h2>5. Avoid caffeine in the evening</h2>
                    <p>when you want to work in the evening you should not drink a coffee because caffeine can stay in
                        your blood for 8 or more hours and that will damage your sleep. If you want to learn more about
                        the benefits that sleep gives you check the book why we sleep. </p>


                    <p> Vitamin supplementation for programmers is, in my opinion, as important as for those who go to
                        the
                        gym, because when a person has enough vitamins, he can get rid of brain fog and delay mental
                        fatigue. These vitamins are omega 3, zinc, vitamin C, vitamin D, and vitamin B.</p>

                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller"> Brain food guide</h1>
                        <p>In this article you will learn how to eat healthy and accelerate your brain.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/fitness/blog_2" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Programmer health</h1>
                        <p>In this article you will learn how to stay
                            lean as a programmer and how to keep
                            your mind sharp.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/fitness/blog_3">READ MORE</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>