<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">
                <div class="specific-blog-header">
                    <h1 class="underline">Health rules</h1>
                </div>

                <div class="specific-blog-article">
                    <strong><p>1. Don't drink soda and don’t eat candies and chocolate</p></strong>
                    <p>- Over time, this can lead to a greater accumulation of fat, which may turn into fatty liver
                        disease, a contributor to diabetes, which raises your risk for heart attack. Also, sugar will
                        help
                        you in a really short time but it can harm you in a long run.</p>

                    <strong><p>2. Drink a lot of water</p></strong>
                    <p>- you will avoid dry eyes so your eyes will not damage that drastically over time.</p>
                    <strong><p>3. Stay consistent with your workout routine</p></strong>
                    <p>- if you can stay consistent the results will soon follow and your life will improve
                        dramatically.</p>
                    <strong><p>4. Do cardio</p></strong>
                    <p>- your blood flow will increase and you will get rid of a cloudy head.</p>
                    <strong><p>5. Eat a lot of protein and leafy green vegetables.</p></strong>
                    <p>6. You will burn fat faster and don’t lose any muscle along the way.</p>
                    <strong><p> 7. Drink a coffee</p></strong>
                    <strong><p>8. coffee will help you stay awake and keep your focus sharp for as long as possible also
                        the fat
                        will burn faster.</p></strong>
                </div>
            </section>


            <div class="another-blog-wraper">


                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">Brain Health</h1>
                        <p>
                            This article contains information about brain health and how to take care about your brain
                            for the maximum performance.
                        </p>


                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/fitness/blog_1" class="basic-3">READ MORE</a>
                    </div>
                </div>

                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 class="smaller">Brain Food</h1>
                        <p>
                            In this article I will explain to you how to eat to optimize your brain power.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/fitness/blog_2">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>

</main>
</body>
</html>