<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brain Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Brain Food</h1>
                </div>

                <div class="specific-blog-article">

                    <h2>Best food for brain diet.</h2>
                    <p>in this article, you will learn how you should eat to maximize your brainpower increase your
                        productivity and get healthier. </p>
                    <h2>Food you should avoid</h2>
                    <p>You should avoid food that contains simple sugars like chocolate, candies,<br>

                        Also, I don’t recommend eating white bread.<br>

                        Fast food is also bad for your brain because of the high trans fats<br>

                        vodka and other alcohol of this type can harm your brain in a long run but red wine in small
                        doses can even increase brain power<br>

                        Sugary drinks don’t drink anything that contains sugar.
                        <br></p>


                    <h2>What food you should eat.</h2>

                    <p><span>Morning</span> <br>
                         in the morning you should eat something that will not make you tired. These food are oatmeal,
                        spinach, eggs, beans, and blueberries. If you combine these things together you will be feeling
                        amazing...<br>
                        <span>Evenning</span> <br>


                        in the evening you should avoid food at all because your body will be digesting

                        during the night. You should not eat at all because the body will not focus only on processing
                        information but also on digesting the food we ate at night and that’s why we shouldn't eat 1-2
                        hours
                        before going to bed. <br>

                        <span>Lunch</span> <br>

                        Ideal lunch is one that does not contain many carbohydrates because carbohydrates are not so
                        beneficial for the brain, so you need to eat meat such as chicken or beef because meat contains
                        substances that will not make you sleepy but will make you think clearly and sharper you focus.
                    </p>
                    <p>
                        if you start feeling hungry you can eat food that will not contain that many calories It can be,
                        for
                        example, tuna or sardines or wholegrain bread with cheese.</p>

                    <h2>My favorite food combinations for brain health</h2>

                    <p>Tuna + Spinach + Wholegrain bread + spread cheese.</p>

                    <p>Chicken + cabbage + rice</p>

                    <p> Mozzarella + olive oil + wholegrain bread with ketchup</p>

                    <p>Oatmeal + blueberries + greek yogurt</p>

                    <p>Spinach + tomatoes + blueberries + 30 g of sugar</p>

                    <h2>Best supplements for software engineers</h2>

                    <p> Vitamin supplementation for programmers is, in my opinion, as important as for those who go to
                        the
                        gym, because when a person has enough vitamins, he can get rid of brain fog and delay mental
                        fatigue.
                        These vitamins are omega 3, zinc, vitamin C, vitamin D, and vitamin B</p>

                    <h2> Summary: </h2>

                    <p>I would like to say that I am not a certified nutritionist but I’ve tried a lot of diets in my
                        life
                        during my fitness and programming journey and I think that this is the best overall that I've
                        tried
                        over
                        the past 4 years of my life.</p>

                    <p> After some time your body will start burning more fat so you will become leaner without any
                        additional
                        effort but everything takes time and consistency so trust the process.</p>
                </div>

            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h2 class="smaller">Brain Health</h2>
                        <p>This article contains information about brain health and how to take care about your brain
                            for the maximum performance.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/fitness/blog_1">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h2 class="smaller">Health Rules</h2>
                        <p>
                            These are the rules that you should follow to get the best result for your brain and your
                            productivity.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/fitness/blog_3">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>

</main>
</body>
</html>