<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">
                <div class="specific-blog-header">

                    <h1 class="underline">0 - 1 Principle</h1>

                </div>

                <div class="specific-blog-article">

                    <h3>What is the 0 - 1 principle? </h3>
                    <p> The simplest way to describe it is when you don't have something for example you don't have
                        phone you are on 0 and when you have a phone you are in 1. So when you want to buy something for
                        example you have iPhone 11 and you want to buy iPhone 13 how much it will improve your life and
                        how the new phone will move you on scale in the 1.2 or something like that and that's when you
                        might have to rethink your decision. “Is this really worth it ?” am I going to spend 1k dollars
                        for this or should I have to invest it.</p>

                    <h3>How I applied the 0-1 principle at my life ?</h3>
                    <p>When I am thinking about buying something. I always apply this principle when I was buying new
                        phone I was thinking about buying iPhone 10 or Xiaomi Note 10 pro difference was 300$ </p>

                    <p>Firstly I ask myself. How can the phone improve my life what can I do with it and how does it
                        help me to achieve my goal. When I asked this I absolutely threw the possibility of buying new
                        iphone away and I bought the Xiaomi. and I made a good decision. </p>

                    <p>When I was buying my first car I asked myself what I wanted from the car. Do I need to look good
                        or save money on gas? When I asked this me and my dad started watching cars that have low gas
                        consumption and choose Renault Clio 3 2011 that have average consumption of 4.5 l for 100km and
                        sometimes even lower. We are happy with that car and my father always say that it is the most
                        comfortable car that he ever drive. </p>

                    <h3>So when you want to apply the 0-1 principle ask yourself these questions.</h3>

                    <p> What is my goal for that what i will do with it.</p>
                    <p>How often I often will i use it</p>
                    <p>Will it be 0- 1 or 1-1.3 or ?</p>
                    <p> Will the thing that I want to buy make me happy?</p>
                    <p>How much it will increase my productivity ?</p>
                    <p>In which areas will it help me.</p>

                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1>Daily routine</h1>
                        <p>
                          In this article I will describe you my daily routine.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/productivity/blog_1" class="basic-3">READ MORE</a>
                    </div>
                </div>

                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1 >How I invest</h1>
                        <p>
                            In this article I will explain to you how I invest my money.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/finances/blog_2">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>
</main>
</body>
</html>