<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How I invest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>
<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">
                <div class="specific-blog-header">
                    <h1 class="underline">My investing strategy</h1>
                </div>

                <div class="specific-blog-article">


                    <p>When I was younger I was always thought that I need to safe as much money as possible but now
                        when I
                        become older and more educated I understood that when I safe money It will lose value after some
                        time so now when I have a left over money I try to invest it in stocks.</p>

                    <p>My stock investing strategy</p>

                    <p> I add my money into s&p 500 index more specifically in the vanguard but I also invest in copy
                        trading on etoro where i find the most profitable trader in the long term and put the money in
                        the
                        stocks that he or she buy.</p>

                    <h3>My Education Investment</h3>

                    <p>I am trying to become a frontend developer in a short period of time so my main goal is to sit in
                        front of computer and stay focused for as long as possible. So I invested money into the things
                        that
                        I am using every single day for example good chair, second monitor , good mouse.
                        - also to learn things faster I invest some money into paid courses so I don't waste time on
                        finding
                        the curriculum for learning some specific topic like for example React.js full course on
                        scrimba</p>

                    <h3>What I learned from day trading</h3>

                    <p>I would like to say that day trading is amazing it looks really cool. When I tried that I’ve made
                        like 250 $ in 4 days but after that the market that I was trading started losing and I lost the
                        500
                        $ in a one day and I learned that day trading is not a side hustle it is real career like coding
                        and
                        for a majority of people the day trading is just a waste of money. They should rather invest
                        that in
                        something safe and focus on their career to make even more money in my opinion.</p>

                </div>
            </section>


            <div class="another-blog-wraper">


                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1>Daily routine</h1>
                        <p>
                            In this article I will describe you my daily routine.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/productivity/blog_1" class="basic-3">READ MORE</a>
                    </div>
                </div>

                <div class="another-blog-article">
                    <div class="another-article-main-text">
                        <h1>0 - 1 principle </h1>
                        <p>
                            In this article I will explain to you 0 - 1 principle.
                        </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/finances/blog_1">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
        <div class="square-4-right"></div>
    </div>
</main>
</body>
</html>