<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productivity daily routine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Daily routine</h1>

                </div>

                <div class="specific-blog-article">

                    <p>In this article you will learn how I structure my day to stay productive as long as possible and
                        do
                        the most work than in the shortest period of time also this article will contain only useful
                        information that you can implement into your daily schedule if you find something usefull</p>


                    <h2>Morning routine</h2>
                    <p> When I woke up I drink a 1 l of water (to boost myself and get up faster)</p>
                    <p>Do some type of cardio to for 1-2 minutes (to stir up the blood flow) </p>
                    <p>After that, I do meditation for 2 minutes (to get myself present and focus on the stuff that I
                        am doing I do the type of meditation where you focus only on your breath )</p>
                    <p>After that, I read my “rules” that consist of the how should I think and how to be in the
                        positive
                        mindset</p>
                    <p>Book or Youtube ( I watch videos about stoicism and code related stuff)</p>
                    <p>Breakfast ( oatmeal with blueberries or egg with toast and bread) </p>


                    <h3>Summary :</h3>

                    <p>I like to start a day being productive because it will set me up for the day I think that winning
                        the morning is crucial.</p>

                    <h2>Post School routine:</h2>

                    <p>after I came home from school I go usually straight to the gym or get myself some exercise.</p>


                    <p>Exercise 45 min - 1 hour</p>
                    <p>Food <br>
                    <p>Coding (4-6 hours) I enter a **deep work** state and I use the Pomodoro technique to get
                        myself tracked. (I use 60 to 10 frequency )</p>
                    <p>Reading books or Learning some interesting technologies theoretically. ( I don't code )</p>

                    <h3>Summary :</h3>

                    <p>This is the most important part of my day because I am coding or learning something that I am
                        really
                        interested in. I like to time-block everything from workouts to deep work sessions.</p>

                    <h2>Evening routine</h2>

                    <p>Journal ( I write my thoughts down and write the things that I’ve learned etc ... )</p>
                        <p>Write down the bad habits ( I usually write down the things that I’ve down badly that day. for
                            example that I was on phone or that I wasn't focused enough.</p>
                    <p>Stretching ( I get myself a short stretching to get muscles relaxed and be relaxed also)</p>
                        <p>Sleep & Movie ( I like to fall asleep when with movies I sleep usually 7-8 hours to get myself
                        rested for the next day)</p>

                    <h3>Summary :</h3>

                    <p>I strongly believe that if you can be 100% honest with yourself you can achieve everything you
                        want
                        in life but you need to trust the process and not focus on the outcome that you want to achieve
                        because the outcome is the thing that you cannot change if you fail you need to know why you
                        fail
                        and improve your system rather than changing your goal.</p>

                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How I structure my day</h1>
                        <p>In this article you will learn useful tips how you can structure your day.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/productivity/blog_2" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How I manage my life</h1>
                        <p>In this article you will learn how to manage your life with productivity apps.</p>

                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/productivity/blog_3">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>