<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How I enter flow state </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Flow state</h1>
                </div>

                <div class="specific-blog-article">
                    <p>I am a student so for me the flow state is really important because it keeps me focus and help
                        me to do more work done. I am trying to get as much as 3-4 hours of uninterrupted work done in
                        the morning. But not everyday is optimal so usually i get 3 hours or less but I am tryining to
                        do it properly so this is my routine to get into the flow and get laser focused.</p>

                    <h3>Flow ritual: </h3>

                    <p>1. I clean my desk to not get any other thoughts in my head. (30s) <br>
                        2. Drink some and get some water. (30s)<br>
                        3. Get rid of my phone and turn notifications off and get rid of all distractions. (30s)<br>
                        4. do the breathe-in breathe-out exercise to focus on “one thing in my head” (1 min)<br>
                        5. Create a todo-list for the specific task that I am going to do and specify the things that
                        need to be done and set it into order. (2-3min)<br>
                        6. Start Working (90-180 min)<br>
                        7. Long break (20-30 min)<br>
                        <br>
                         This flow ritual I usually use for coding when I am learning or reading I only set up Pomodoro
                        timer and don’t do any other preparation maybe the list of the things that needs to be done and
                        then execute.</p>


                    <h3>How to train yourself to do the flow state. </h3>
                    <p>
                        one of the greatest practices that I did at the beginning of my programming journey was using
                        the Pomodoro timer for 10 min to work and 2 min rest and after some time with consistency, I was
                        able to train myself to do uninterrupted work for at least one and a half hour to 3 hours and
                        sometimes even more. But this comes with a practice and discipline like when you working out you
                        don't see results after 2-3 days you start seeing something after 1-2 months.</p>
                    <p>
                        The next good practice is to do mindfulness meditation or the wim-hof technique the right way
                        for training your focus is to focus just on your breath or on the one point that you have in on
                        your wall or something like that so just don't think “other ways” and focus on the one thing and
                        keep your focus on the one point in your mind.</p>
                    <p>
                        Reading is one the best things that people can do to improve their focus because you need to
                        focus on the one core related subject and that is reading, thinking, and implementing the stuff
                        that you learn into your brain and thinking about the time where you can use it and how you will
                        use it in the future also you can take some notes. This type of activity where you learn, apply
                        and take notes take all your focus.</p>

                    </p>

                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Productivity daily routine</h1>
                        <p>In this article I will give some useful tips how to structure your day to be productive.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/productivity/blog_1" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How I manage my life </h1>
                        <p>In this article I will show you how I manage my life.</p>

                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/productivity/blog_3">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>