<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productivity daily routine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Day structure</h1>
                </div>

                <div class="specific-blog-article">
                    <p> I structure my day based on the **80/20** rule 80% of outcome come from the 20 % of your work
                        so you need to focus on things that will affect your life the most. I use the productivity
                        hacked called einshowers matrix where i put the most important tasks to the top left and the
                        less important to the right top.
                        <br>
                        Also I divide my work to shallow work and deep work ( I like to do the shallow work when I am
                        in school this are for example email, reading about something, structuring learning path,
                        etc...) when I am doing deep work i usually do the stuff that i am not able to do in school this
                        is for example coding something or fixing bug learning and implementing etc..)<br>

                        I also “filter” the tasks with with Morning, evening, afterSchool, Shallow Work, Deep Work and
                        ASAP ( when I need to do something important)
                        <br>
                    </p>


                    How is my day structured.

                    <h3> My daily routine consist of three main parts : </h3>
                    <p>
                        - Coding<br>
                        - Reading <br>
                        - Exercise <br>
                    </p>
                    <img class="picture-blog" src="/static/images/images_blog/einsh_metrix.png">


                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Productivity daily routine</h1>
                        <p>In this article you can see how I structure my day. </p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/productivity/blog_1" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How I manage my life</h1>
                        <p>In this article you will learn how to manage your life with productivity apps.</p>

                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/productivity/blog_3">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>