<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How I manage my life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="jquery-3.5.1.min.js"></script>
    <script src="/javascript/scripts.js"></script>
</head>
<body>

<header class="navbar">
    <ul class="navbar-elements">
        <li><a href="https://www.youtube.com/channel/UCD-CPINIYEuWeQyxONcqXrA">Youtube</a></li>
        <li><a href="/blog">Categories</a></li>
        <li><a href="/contact_me">Contact</a></li>
        <li><a href="http://www.adamkurek.com/">Portfolio</a></li>
    </ul>
</header>

<main class="main">
    <div class="blog-content-wraper">
        <div class="specific-blog-wraper">
            <section class="specific-blog-main">

                <div class="specific-blog-header">
                    <h1 class="underline">Life management</h1>
                </div>

                <div class="specific-blog-article">

                    <p>
                        When I started my self-improvement journey I used to use only notepads and paper for the to-do
                        list, habit tracker, my notes, etc ... But after some time I started using apps for
                        productivity. <br>
                        I use notion for taking notes from school and also to track the stuff that I am learning
                        currently. <br>
                    </p>


                    <img class="picture-blog" src="/static/images/images_blog/javascript.png">

                    <p>I also take notes from the books that I have read.</p>

                    <img class="picture-blog" src="/static/images/images_blog/Books.png">

                    <p>And most importantly I organize my projects in this app and create constructive solutions when I
                        am thinking about the architecture of how should I start the project properly what mistakes
                        should I avoid etc ...
                    </p>

                    <img class="picture-blog" src="/static/images/images_blog/frontend_mentor.png">

                    <p>
                        The second app that I am using is called Tick-Tick this app helps me stay consistent with my
                        habits so I use it as a habit tracker. Also, I use this app for tracking the bad habits that I
                        am doing. In this app, I have my Journal where I write down the experiences that I’ve got during
                        the day.
                    </p>




                </div>
            </section>


            <div class="another-blog-wraper">
                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">Productivity daily routine</h1>
                        <p>In this article I will give some useful tips how to structure your day.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a href="/productivity/blog_1" class="basic-3">READ MORE</a>
                    </div>

                </div>

                <div class="another-blog-article">

                    <div class="another-article-main-text">
                        <h1 class="smaller">How I enter Flow state </h1>
                        <p>In this article I will explain how I enter flow state.</p>
                    </div>

                    <div class="read-me-another-article">
                        <img src="/static/images/img.png">
                        <a class="basic-3" href="/productivity/blog_4">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-images">
        <div class="square-1-left"></div>
        <div class="square-2-right"></div>
        <div class="square-3-right"></div>
    </div>

</main>
</body>
</html>